


    <div class="parallax-container">
      <div class="parallax"><%= image_tag "pumba.jpg" %></div>
            <br><br>
      <h1 class="header center white-text">See the world through pictures</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">A instagram mock using Ruby on Rails.</h5>
      </div>
      <div class="row center">

      <%= link_to 'Log in', login_path, class: "btn-large waves-effect waves-light lime" %>
      <%= link_to 'Sign Up', new_user_path, class: "btn-large waves-effect waves-light lime" %>
      </div>
      <br><br>
    </div>


  <div class="container light-blue lighten-1">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">Post</i></h2>
            <h5 class="center white-text">Speeds up development</h5>

            <p class="light">Some text</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">Share</i></h2>
            <h5 class="center white-text">User Experience Focused</h5>

            <p class="light">Some text.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">Like</i></h2>
            <h5 class="center white-text">Easy to work with</h5>

            <p class="light">Some text</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

    <div id="bottom_image" class="parallax-container">
      <div class="parallax"><%= image_tag "clearskies.jpg" %></div>
    </div>

  <footer class="page-footer lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Some text</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Rinstagram
      </div>
    </div>
  </footer>



