// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#hidden {
	opacity: 0.5;
}

#upload_post_photo.field {
  margin-bottom: 10%;
}

.button_label {
  margin-left: 15%;
}
